
body{
    background: rgba(0, 0, 0, 0.883);
    backdrop-filter: blur(10px);
    
}
header{ 
 
    align-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: min-content;
    justify-content: space-between;
    overflow: visible;
    padding: 24px 30px;
    position: relative;  
    backdrop-filter: blur(10px);
    /* margin-top: -150px; */
    width: 1200px;
    font-size: 20px;
    transition: .3s ease-in-out;
  
    
}
header nav{
    justify-content: space-between;
    padding: 24px 30px;
    width: 1200px;
    align-content: center;
    align-items: center;
    display: flex;
   transform: perspective(1200px);
  
   
}
header nav a{
    color: #eee;
  
}
header:hover{
    transform:scale(1.1)
}

.design img{
    height: 50px;
    width: 50px;
    flex-direction: row;
}
.design {
    flex-direction: row;
    font-size: large;
    color: #eee;
    margin-left: 100px;
    font-size: 20px;
}
.button{
      /* color: #eeee;
      border: 0.1px solid #eee;
      border-radius: 10%;
      padding: 20px ;
      /* margin: 200px; */
      /* background: rgba(0, 0, 0, 0.883);;
       flex-direction: row; */ 

    /* padding: 20px 12px; */
    display: flex;
    border-bottom-width: 1px;
    border-color: rgb(255, 255, 255);
    color: #eee;
    border-left-width: 1px;
    border-right-width: 1px;
    border-style: solid;
    border-top-width: 1px;
    border-bottom-left-radius: 2px ;
    border-bottom-right-radius: 3px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 60px;
    opacity: 1;
   /* width: 500px;
   
    height: 500px; */
    /* padding: 12px 20px; */
}
.button{
    height: min-content;
    padding: 20px 12px;

    align-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
    gap: 20px;
    height: 30px;
    justify-content: center;
    overflow: hidden;
    padding: 40px 70px;
    position: relative;
    text-decoration: none;
    width: 300px;
    margin-right: -20%;
    margin-left: 10%
    /* will-change: var(--framer-will-change-override, transform); */
}
.button:hover{
    background: #eee;
    transform:scale(1.1);
    color: #000;
    text-transform: capitalize;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}
/* {
font-selector: Q1VTVE9NO1NoYXJwIEdyb3Rlc2sgTGlnaHQgSXRhbGljIDEw;
framer-font-family: "Sharp Grotesk Light Italic 10", "Sharp Grotesk Light Italic 10 Placeholder", sans-serif;
framer-letter-spacing: 0em;
}  */

p.framer-text, div.framer-text, h1.framer-text, h2.framer-text, h3.framer-text, h4.framer-text, h5.framer-text, h6.framer-text, li.framer-text, ol.framer-text, ul.framer-text, span.framer-text:not([data-text-fill]) {
    font-family: var(--framer-font-family);
    font-style: var(--framer-font-style, normal);
    font-weight: var(--framer-font-weight, 400);
    color: var(--framer-text-color, #000);
    font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));
    letter-spacing: var(--framer-letter-spacing, 0);
    text-transform: var(--framer-text-transform, none);
    text-decoration: var(--framer-text-decoration, none);
    line-height: var(--framer-line-height, 1.2em);
    text-align: var(--framer-text-alignment, start);
    -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
    -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
}
p.framer-text, div.framer-text, h1.framer-text, h2.framer-text, h3.framer-text, h4.framer-text, h5.framer-text, h6.framer-text, li.framer-text, ol.framer-text, ul.framer-text, span.framer-text:not([data-text-fill]) {
    font-family: var(--framer-font-family);
    font-style: var(--framer-font-style, normal);
    font-weight: var(--framer-font-weight, 400);
    color: var(--framer-text-color, #000);
    font-size: calc(var(--framer-font-size, 16px) * var(--framer-font-size-scale, 1));
    letter-spacing: var(--framer-letter-spacing, 0);
    text-transform: var(--framer-text-transform, none);
    text-decoration: var(--framer-text-decoration, none);
    line-height: var(--framer-line-height, 1.2em);
    text-align: var(--framer-text-alignment, start);
    -webkit-text-stroke-width: var(--framer-text-stroke-width, initial);
    -webkit-text-stroke-color: var(--framer-text-stroke-color, initial);
}

.framer-fit-text .framer-text {
    white-space: pre;
}
.framer-fit-text .framer-text {
    white-space: nowrap;
    white-space-collapse: preserve;
}
* {
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
} 
style attribute {
    --font-selector: Q1VTVE9NO1NoYXJwIEdyb3Rlc2sgU2VtaUJvbGQgMjU =;
    --framer-font-family: "Sharp Grotesk SemiBold 25", "Sharp Grotesk SemiBold 25 Placeholder", sans-serif;
    --framer-font-size: 190.45126767696865px;
    --framer-letter-spacing: -0.03em;
    --framer-line-height: 1.1em;
    --framer-text-alignment: center;
    --framer-text-color: var(--token-ae718e55-896c-4793-ae5b-7d8fb35d5531, rgb(255, 255, 255));
}
user agent stylesheet
h1 {
    font-size: 2em;
    font-weight: bold;
}
.img1{
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing: border-box;
    -webkit-font-smoothing: inherit;
    display: block;
    width: 40%;
    height: 40%;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    border-radius: 90px;
   
    display: flex;
    margin-left: 80px;
}
.img1:hover{
    transform: scale(1.1);
    box-shadow: -10px 10px 90px #ebe6e5;
}
.img2{
    display: flex;
    overflow-clip-margin: content-box;
    overflow: clip;
    box-sizing:border-box ;
    -webkit-font-smoothing: inherit;
    display: block;
    width: 40%;
    height: 700px;
    border-radius: inherit;
    object-position: center center;
    object-fit: cover;
    image-rendering: auto;
    border-radius: 90px;
    margin-bottom: 1px;
    /* margin-left: 50%; */
     margin-top: -5%;
    margin-left: 700px;
    
}
.img2:hover{
    transform: scale(1.1);
    box-shadow: -10px 10px 90px #ebe6e5;
}
.container{
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 20px;
    border-radius: 90px;
    margin-top: 50px ;
}
.con1:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 90px #ebe6e5;
}
.con2:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 90px #ebe6e5;
}
.con3:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 90px #ebe6e5;
}
h2{
    color: greenyellow;
    text-align: center;
    margin-top: 90px;
}
.work{
    text-align: center;
    font-size: 100px;
    color: #eee;
    margin-top: -5px;
   justify-content: center;
    display: flex;
    margin-top: 100px;
}
.work img{
    margin-top: -100px;
    flex-direction: column;
}
.msg-project{
    color: #eee;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 100%;
}
.msg{
    border: solid #eee;
    border-radius: 80px;
    padding: 20px 80px 20px;
    width: 40%;
    justify-content: space-between;
   
}
.project{
     border: solid #eee;
    border-radius: 80px;
    padding: 20px 80px 20px;
    width: 40%;
}
 .msg:hover{
    color: #000;
    background: #eee;
    text-transform: capitalize;
    box-shadow: -10px 10px 90px #ebe6e5;
}
 .project:hover{
    color: #000;
    background: #eee;
    text-transform: capitalize;
    box-shadow: -10px 10px 90px #ebe6e5;
}
@keyframes fadeIn{
    from{
        transform: translateY(40px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fadeInTop{
        from{
            transform: translateY(-100%);
            opacity: 0;
        }
        to{
            transform: translateY(0);
            opacity: 1;
        }
    
}
@keyframes sideInRight{
    from{
        transform: translateX(100%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
    
}
@keyframes backgroundZoom{
    from{
        background-size: 80%;
    }
    to{
        background-size: 100%;
    }
}

header .design{
    animation:  fadeInTop 1.0s ease-in forwards;
    opacity: 0;
    
}
h1{
   animation: fadeIn 1.2s ease-out forwards;
   opacity: 0;
   animation-delay: 0.2s;
  
}
h2{
    animation: fadeIn 1.4s ease-out forwards;
    opacity: 0;
   animation-delay:0.4s;
  
}
b{
    animation: fadeIn 1.6s ease-out forwards;
    opacity: 0;
    animation-delay: 0.6s;
    
}
.msg-project{
      animation: fadeIn 1.8s ease-out forwards;
      opacity: 0;
      animation-delay: 0.8s;
       /* animation-timeline: view(); */
}
.framer-text{
    animation: fadeIn 0.2s ease-out forwards;
      opacity: 0;
      animation-delay: 1s;

      
}
.container{
    animation: fadeIn 0.2s ease-out forwards;
    opacity: 0;
    animation-delay: 1s;
} 
.img1{
    animation: fadeIn 0.8s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
     
} 
.img2{
    animation: fadeIn 0.8s ease-in-out forwards;
    opacity: 0;
    animation-delay: 0.2s;
     
}
header nav a,
header button{
    animation: fadeInTop 1s ease-in forwards;
    opacity: 0;
    animation-delay: 0.2s;
    
}

body{
    animation: backgroundZoom 3s ease-in forwards;
    
}


.about{
    color: #ebe6e5;
    transform: scale(1.1);
    margin-bottom: 20%;
    padding-top: 20%;
    font-size: 30px;
}
.comp{
    height: 50%;
    width: 50%;
    display: flex;
   margin-left: 30%;
    padding: 20px 20px 20px;
    border-radius: 90px;
    margin-top: 90px ;
}
.comp:hover{
    transform: scale(1.1);
    box-shadow: 10px 10px 90px #ebe6e5;
    border: none;
}

.menu-btn {
  font-size: 1.8rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
/* }
 header nav {
  display: none;
  flex-direction: column;
  background: #222;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

 header nav a {
  padding: 1rem;
  color: white;
  text-decoration: none;
  border-top: 1px solid #333;
}
header nav.active {
  display: flex;
} */
@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  header nav {
    display: flex;
    position: static;
    flex-direction: row;
    background: none;
    width: auto;
  }

  header nav a {
    border: none;
    margin-left: 1rem;
  }
  header .active {
  display: flex;
}
}

